  <!-- ..map.. -->
<div class="container-fluid mt-5 bgmap">
    <div class="container p-5">
        <div class="row">
            <div class="col-md-6 col-lg-6 col-xl-4">
                <h2 style="color: #f1c503 ;">EWX Training Institute</h2>
                <p>
                    EWX Professional Training Institute (PVT Ltd) is one of the best IT Training Institutes in Pakistan. It has
                    been providing quality IT education since 2010 at RWP / ISB. 1000+ batches of professional IT courses have
                    been completed at EWX Institutes in Rawalpindi / Islamabad & Gujrat. 25,000+ students have taken
                    professional IT courses from EWX. Most of these students are working in leading public & private sector
                    organizations in Pakistan
                </p>
                <button class="refreshbutton"> <a href="/Home/OurCustomers">View All</a></button>

            </div>
            <div class="col-md-6 col-lg-6 col-xl-4  mt-2">
                <div class="accordion" id="accordionExample">
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingOne">
                            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne"
                                    aria-expanded="true" aria-controls="collapseOne">
                                <a style="color: #f1c503;"><i class="fa fa-map-marker"></i> PINDI BRANCH </a>
                            </button>
                        </h2>
                        <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne"
                             data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                <div class="row">
                                    <div class="col-md-12 col-lg-8 col-xl-6  col-sm-12 col-xs-12 ">
                                        <div class="map">
                                            <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d13287.090620524228!2d73.0746685!3d33.6371363!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x38df95a01f7b6a75%3A0xf2c7545ae8358bb4!2sEWX%20Professional%20Training%20Institute%20PVT%20Ltd!5e0!3m2!1sen!2s!4v1691569611334!5m2!1sen!2s"
                                                    width="100%" height="200px" style="border:0;" allowfullscreen="" loading="lazy"
                                                    referrerpolicy="no-referrer-when-downgrade"></iframe>

                                        </div>
                                    </div>
                                    <div class="col-md-12 col-lg-8 col-xl-6 col-sm-12 col-xs-12 mt-3 ml-3">
                                        <div class="infotext">
                                            <span class="fa fa-map-marker fa-abs" style="color: #f1c503;"></span> B-20 Murree Road, Block B,
                                            Satellite Town, Rehmanabad Metro Stop
                                            <br>
                                            <span class="fa fa-phone fa-abs" style="color: #f1c503;"></span> Phone : (051) 4264087 , (051)
                                            4264088
                                            <br>
                                            <span class="fa fa-mobile-phone fa-abs " style="color: #f1c503;"></span> &nbsp; Cell : 0333
                                            888-5779



                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="accordion-item mt-2">
                        <h2 class="accordion-header" id="headingTwo">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                <a style="color: #f1c503;"><i class="fa fa-map-marker"></i> Gujrat Branch </a>
                            </button>
                        </h2>
                        <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo"
                             data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                <div class="row">
                                    <div class="col-md-12 col-lg-8 col-xl-6  col-sm-10 col-xs-12 ">
                                        <div class="map">
                                            <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d13287.090620524228!2d73.0746685!3d33.6371363!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x38df95a01f7b6a75%3A0xf2c7545ae8358bb4!2sEWX%20Professional%20Training%20Institute%20PVT%20Ltd!5e0!3m2!1sen!2s!4v1691569611334!5m2!1sen!2s"
                                                    style="border:0;" allowfullscreen="" loading="lazy" width="100%" height="200px"
                                                    referrerpolicy="no-referrer-when-downgrade"></iframe>

                                        </div>
                                    </div>
                                    <div class="col-md-12 col-lg-8 col-xl-6  col-sm-10 col-xs-12 mt-3">
                                        <div class="infotext">
                                            <span class="fa fa-map-marker fa-abs" style="color: #f1c503;"></span> Kachehri Chowk Aleena
                                            Center Gujrat
                                            <br>
                                            <span class="fa fa-phone fa-abs" style="color: #f1c503;"></span> Phone :0334-5355339
                                            <br>
                                            <span class="fa fa-mobile-phone fa-abs" style="color: #f1c503;"></span> &nbsp;Cell :
                                            0334-5355339

                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item mt-2">
                        <h2 class="accordion-header" id="headingThree">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                <a style="color: #f1c503;"><i class="fa fa-map-marker"></i> Dubai Branch </a>
                            </button>
                        </h2>
                        <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree"
                             data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                <div class="row">
                                    <div class="col-md-12 col-lg-8 col-xl-6  col-sm-12 col-xs-12 ">
                                        <div class="map">
                                            <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d13287.090620524228!2d73.0746685!3d33.6371363!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x38df95a01f7b6a75%3A0xf2c7545ae8358bb4!2sEWX%20Professional%20Training%20Institute%20PVT%20Ltd!5e0!3m2!1sen!2s!4v1691569611334!5m2!1sen!2s"
                                                    style="border:0;" allowfullscreen="" loading="lazy" width="100%" height="200px"
                                                    referrerpolicy="no-referrer-when-downgrade"></iframe>

                                        </div>
                                    </div>
                                    <div class="col-md-12 col-lg-8 col-xl-6  col-sm-12 col-xs-12 mt-3">
                                        <div class="infotext">
                                            <span class="fa fa-map-marker fa-abs" style="color: #f1c503;"></span>Al saif Buliding Office
                                            #302 Niaf Intersection 2 Deira Dubai UAE
                                            <br>
                                            <span class="fa fa-phone fa-abs" style="color: #f1c503;"></span> Phone :00971 561429355
                                            <br>
                                            <span class="fa fa-mobile-phone fa-abs" style="color: #f1c503;"></span> &nbsp;Cell : 00971
                                            561429355

                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item mt-2">
                        <h2 class="accordion-header" id="headingFour">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                                <a style="color: #f1c503;"><i class="fa fa-map-marker"></i> ONLINE CLASSES </a>
                            </button>
                        </h2>
                        <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour"
                             data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                <div class="row">
                                    <div class="col-md-12 col-lg-8 col-xl-6  col-sm-10 col-xs-12 ">
                                        <div class="map">
                                            <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d13287.090620524228!2d73.0746685!3d33.6371363!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x38df95a01f7b6a75%3A0xf2c7545ae8358bb4!2sEWX%20Professional%20Training%20Institute%20PVT%20Ltd!5e0!3m2!1sen!2s!4v1691569611334!5m2!1sen!2s"
                                                    style="border:0;" allowfullscreen="" loading="lazy" width="100%" height="200px"
                                                    referrerpolicy="no-referrer-when-downgrade"></iframe>

                                        </div>
                                    </div>
                                    <div class="col-md-12 col-lg-8 col-xl-6  col-sm-10 col-xs-12 mt-3">
                                        <div class="infotext">
                                            <span class="fa fa-map-marker fa-abs" style="color: #f1c503;"></span> B-20 Murree Road, Block B,
                                            Satellite Town, Rehmanabad Metro Stop
                                            <br>
                                            <span class="fa fa-phone fa-abs" style="color: #f1c503;"></span> Phone : (051) 4264087 , (051)
                                            4264088
                                            <br>
                                            <span class="fa fa-mobile-phone fa-abs" style="color: #f1c503;"></span> &nbsp;Cell : 0333
                                            888-5779

                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-md-6 col-lg-6 mt-3">
                <a href=""><i class="fa fa-building" style="color: #f1c503;"></i></a><b style="color: #f1c503;">
                    Rawalpindi
                    Islamabad
                </b>
                <p>
                    <a href=""><i class="fa-solid fa-location-dot" style="color:white"></i></a> B-20 Murree Road, Block B,
                    Satellite Town, Rehmanabad <br>Metro Stop
                </p>
                <p><i class="fa-solid fa-phone"></i> Phone : (051) 4264087, (051) 4264088</p>
                <a href=""><i class="fa fa-building" style="color: #f1c503;"></i></a><b style="color: #f1c503;">
                    Gujrat
                    Branch
                </b>
                <p>
                    <a href=""><i class="fa-solid fa-location-dot" style="color:white"></i></a> Kachehri Chowk Aleena Center
                    Gujrat
                </p>
                <p><i class="fa-solid fa-phone"></i> Phone :0334-5355339</p>
                <a href=""><i class="fa fa-building" style="color: #f1c503;"></i></a><b style="color: #f1c503;">
                    Dubai
                    Branch
                </b>
                <p>
                    <a href=""><i class="fa-solid fa-location-dot" style="color:white"></i></a>Al saif Buliding Office #302
                    Niaf Intersection 2 Deira Dubai UAE
                </p>
                <p><i class="fa-solid fa-phone"></i> Phone :00971 561429355</p>
            </div>
        </div>

    </div>
</div>