
<head>

     <link rel="stylesheet" href="~/EwxWebsite/assests/css/contact us.css">
</head>

    <section id="contact-section">
      <div class="container mt-3">
         <h2 style="margin-top: 10px;">Contact Us</h2>
         <p>Email us and keep upto date with our latest news</p>
        <div class="contact-form">

             <!-- First grid -->
          <div>
            <i class="fa fa-map-marker"></i><span class="form-info"> B-20 Murree Road,  Satellite Town, Rehmanabad Metro Stop Islamabad</span><br>
            <i class="fa fa-phone" > </i><span class="form-info">  (051) 4264087, (051) 4264088 </span><br>
            <i class="fa fa-fax"></i><span class="form-info">(Fax): +92333 888 5779 </span><br>
            <i class="fa fa-envelope"></i><span class="form-info">infoewx@gmail.com</span>
            <!-- icon-hover  -->
            
            <div class="row mt-3">
              <b style="color: white; padding-left: 38px;" >Made with<i class="fa fa-heart" style="font-size:20px;color:red;"></i> by EWX as part of Soft Cloud</b>
            </div>
            <div class="row">
            
            </div>
          </div>
        

          
              <!-- second grid -->
      <div>        
        <form>
          <input type="text" placeholder="Your Name" id="name" name="name">
          <input type="text" placeholder="Last Name" id="name" name="last name"><br>
          <input type="Email" placeholder="Email" required id="email"  name="email"><br>
          <input type="text" placeholder="Subject of this message" id="course" name="course"><br>
          <textarea name="message" placeholder="Message" rows="5" required id="message" class="message"></textarea><br>
          <button class="submit" onclick="sendMail()">Send Message</button> 
        </form>   
          </div>
        </div>
      </div>
      <div class="container">
      <div class="row mt-4 contact-icon">
        <!-- <div class="col-md-1"></div> -->
        <div class="col-md-4 col-lg-2 col-xl-2 col-sm-6 col-xs-6">
          <b class="icon-text">Likes us </b>
          <br>
          <a href="https://www.facebook.com/ewxpindi"><img src="~/EwxWebsite/assests/imgs/facebook.png" alt="" style="width: 25px;"><b class="hover-effect" style="border-bottom: 2px solid blue;margin-top: 17px;"> facebook</b></a> 
        </div>
        <div class="col-md-4  col-lg-2 col-xl-2 col-sm-6 col-xs-6 ">
          <b class="icon-text">Chat  us</b>
          <br>
          <a href="https://wa.link/t1z1ri"> <img src="~/EwxWebsite/assests/imgs/whatsapp.png" alt="" style="width: 25px;"><b class="hover-effect" style="border-bottom: 2px solid red;margin-top: 15px;"> whatsapp</b></a>
        </div>
        <div class="col-md-4 col-lg-2 col-xl-2 col-sm-6 col-xs-6 ">
          <b class="icon-text">Visit </b>
          <br>
          <a href="https://www.ewxlearning.com/"> <img src="~/EwxWebsite/assests/imgs/google.png" alt="" style="width: 25px;"><b class="hover-effect" style="border-bottom: 2px solid rgb(255, 213, 0);margin-top: 15px;"> Google</b></a>
        </div>
        <div class="col-md-4 col-lg-2 col-xl-2 col-sm-6 col-xs-6 ">
          <b class="icon-text">Follow us</b>
          <br>
          <a href="https://www.linkedin.com/company/26558302/admin/feed/posts/"> <img src="~/EwxWebsite/assests/imgs/linkdin .png" alt="" style="width: 25px; color: white;"><b class="hover-effect" style="border-bottom: 2px solid rgb(0, 208, 255);margin-top: 15px;"> linkdin</b></a>
        </div>
        <div class="col-md-4 col-lg-2 col-xl-2 col-sm-6  col-xs-6 ">
          <b class="icon-text">Follow us</b>
          <br>
          <a href="https://twitter.com/evsrwp/isb"> <img src="~/EwxWebsite/assests/imgs/twitter.png" alt="" style="width: 25px; color: white;"><b class="hover-effect" style="border-bottom: 2px solid rgb(112, 7, 105);"> Twitter</b></a>
        </div>
        <div class="col-md-4 col-lg-2 col-xl-2  col-sm-6  col-xs-6">
          <b class="icon-text">Subscribe</b>
          <br>
          <a href="https://youtube.com/@* @EWXProfessionalTrainingInstitu?si=awFKRVmN5L8MUbsM *@"> <img src="~/EwxWebsite/assests/imgs/youtube.png" alt="" style="width: 25px; color: white;"><b class="hover-effect" style="border-bottom: 2px solid rgb(7, 112, 66);"> Youtube</b></a>
        </div>
     
      </div>
      </div>
    </section
  <div class="coverbtn">
        <button onclick="topFunction()" id="myBtn" title="Go to top"><span style="font-size:30px;">&#8593;</span></button>
   