


<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <link rel="stylesheet" href="~/EwxWebsite/assests/css/nav.css">
    <link rel="stylesheet" href="~/EwxWebsite/assests/css/ourteam.css">
    <link rel="icon" type="image/x-icon" href="~//EwxWebsite/assests/imgs/logo circul.png">

</head>
<body>
    
    <!-- nav-end  -->
    <!-- ======= Team Section ======= -->

    <section id="team" class="team section-bg">
        <div class="container">

            <div class="section-title">
                <h2>Our Team</h2>
                <div class="underline"></div>
            </div>

            <div class="row">

                <div class="col-lg-6 mt-4">
                    <div class="member d-flex align-items-start">
                        <div class="teampic"><img src="~/EwxWebsite/assests/imgs/jawadbutt1-modified.png" class="img-fluid" alt=""></div>
                        <div class="member-info">
                            <h4>Jawad Butt</h4>
                            <span>Front End Web developer</span>
                            <p>1 Year Experience At soft Cloud</p>
                            <p>1 Year Experience At Fiver</p>
                            <p>1 Year Experience At Front End Web Desiging</p>
                            <div class="social">
                                <a href=""><i class="bi bi-facebook"></i></a>
                                <a href=""><i class="bi bi-instagram"></i></a>
                                <a href=""><i class="bi bi-linkedin"></i></a>
                                <a href=""> <i class="bi bi-whatsapp"></i> </a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-6 mt-4">
                    <div class="member d-flex align-items-start">
                        <div class="teampic"><img src="~/EwxWebsite/assests/imgs/uroosha.png" class="img-fluid" alt=""></div>
                        <div class="member-info">
                            <h4>Uroosha Khan</h4>
                            <span>Front End Web developer</span>
                            <p>2 Year Experience At Front End Web Desiging</p>
                            <p>1 Year Experience At Fiver</p>
                            <p>1 Year Experience At soft Cloud</p>
                            <div class="social">
                                <a href=""><i class="bi bi-facebook"></i></a>
                                <a href=""><i class="bi bi-instagram"></i></a>
                                <a href=""><i class="bi bi-linkedin"></i></a>
                                <a href=""> <i class="bi bi-whatsapp"></i> </a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-6 mt-4">
                    <div class="member d-flex align-items-start">
                        <div class="teampic"><img src="~/EwxWebsite/assests/imgs/shaheen-modified.png" class="img-fluid" alt=""></div>
                        <div class="member-info">
                            <h4>Shaheen Aziz</h4>
                            <span>Front End Web developer</span>
                            <p>3 Year Experience At soft Cloud</p>
                            <p>2 Year Experience At Fiver</p>
                            <p>2 Year Experience At Front End Web Desiging</p>
                            <div class="social">
                                <a href=""><i class="bi bi-facebook"></i></a>
                                <a href=""><i class="bi bi-instagram"></i></a>
                                <a href=""><i class="bi bi-linkedin"></i></a>
                                <a href=""> <i class="bi bi-whatsapp"></i> </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 mt-4 ">
                    <div class="member d-flex align-items-start">
                        <div class="teampic"><img src="~/EwxWebsite/assests/imgs/dumy.png" class="img-fluid" alt=""></div>
                        <div class="member-info">
                            <h4>Hamza</h4>
                            <span>Front End Web developer</span>
                            <p>1 Year Experience At soft Cloud</p>
                            <p>1 Year Experience At Fiver</p>
                            <p>1 Year Experience At Front End Web Desiging</p>
                            <div class="social">
                                <a href=""><i class="bi bi-facebook"></i></a>
                                <a href=""><i class="bi bi-instagram"></i></a>
                                <a href=""><i class="bi bi-linkedin"></i></a>
                                <a href=""> <i class="bi bi-whatsapp"></i> </a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-6 mt-4">
                    <div class="member d-flex align-items-start">
                        <div class="teampic"><img src="~/EwxWebsite/assests/imgs/dumy.png" class="img-fluid" alt=""></div>
                        <div class="member-info">
                            <h4>Umer Aslam</h4>
                            <span>Front End Web developer</span>
                            <p>1 Year Experience At Front End Web Desiging</p>
                            <p>6  Year Experience At Fiver</p>
                            <p>4  Year Experience At soft Cloud</p>
                            <div class="social">
                                <a href=""><i class="bi bi-facebook"></i></a>
                                <a href=""><i class="bi bi-instagram"></i></a>
                                <a href=""><i class="bi bi-linkedin"></i></a>
                                <a href=""> <i class="bi bi-whatsapp"></i> </a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-6 mt-4">
                    <div class="member d-flex align-items-start">
                        <div class="teampic"><img src="~/EwxWebsite/assests/imgs/dumy.png" class="img-fluid" alt=""></div>
                        <div class="member-info">
                            <h4>Hamza</h4>
                            <span>Graphic Designer</span>
                            <p>8 Month  Experience At soft Cloud</p>
                            <p>4 Month  Experience At Fiver</p>
                            <p>1 Year Experience At Graphic Desiging</p>
                            <div class="social">
                                <a href=""><i class="bi bi-facebook"></i></a>
                                <a href=""><i class="bi bi-instagram"></i></a>
                                <a href=""><i class="bi bi-linkedin"></i></a>
                                <a href=""> <i class="bi bi-whatsapp"></i> </a>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </section>
    <!-- End Team Section -->
    <div class="coverbtn">
        <button onclick="topFunction()" id="myBtn" title="Go to top"><span style='font-size:30px;'>&#8593;</span></button>
        <!-- ..footer.. -->
    </div>
    <div class="container-fluid main3">
        <div class="container">
            <div class="row">

                <div class="col-md-5">
                    <div class="copyright">
                        <h5 style="font-size: 18px; padding-left: 25px;"> <span>&copy;2023  EWX Professional Training Institute (PVT Ltd). </span></h5>
                    </div>
                </div>
                <div class="col-md-7">
                    <div class="owner">
                        <h5 style="font-size: 18px; padding-left: 19px;"> Designed & Developed by  EWX Technology Solutions Development  Team  </h5>
                    </div>
                </div>




            </div>
        </div>

    </div>


    <!-- scrollbutton -->


    <script>
        // Get the button
        let mybutton = document.getElementById("myBtn");

        // When the user scrolls down 20px from the top of the document, show the button
        window.onscroll = function () { scrollFunction() };

        function scrollFunction() {
            if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
                mybutton.style.display = "block";
            } else {
                mybutton.style.display = "none";
            }
        }

        // When the user clicks on the button, scroll to the top of the document
        function topFunction() {
            document.body.scrollTop = 0;
            document.documentElement.scrollTop = 0;
        }
    </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>

</body>
</html>
