    <!-- cards -->
<div class="container">
    <div class="row">
        <div class="col  ">
            <h2 style="color: rgb(45, 119, 202); font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; font-weight: 600; margin-top: 20px;">
                Courses Offering EWX(PVT Ltd)
            </h2>
        </div>
    </div>
</div>

<div class="container mt-2">
    <div class="row">
        <a href="dotnet.html"></a>
            <div class="col-md-4 col-lg-4 col-xl-4 col-sm-12 col-xs-12 mt-2 ">
                <div class="card" style="height:100%;">
                    <img src="~/EwxWebsite/assests/imgs/dotnet.png" class="card-img-top" alt="...">
                    <div class="img-top1"></div>
                    <div class="card-body">
                        <a href="dotnet.html">C# & ASP .NET CORE/ASP .NET MVC <br> COURSE</a>
                        <a href="dotnet.html" style="color: black;">
                            <p>
                                This extensive project driven course covers n-tier web application development using Microsoft .NET
                                Framework / .NET Core, Visual Studio 2019 and SQL Server 2017. It includes object oriented programming
                            </p>
                        </a>
                    </div>
                    <div class="card-footer">
                        <a href="dotnet.html"> View More</a>
                    </div>

                </div>
            </div>
            <div class="col-md-4 col-lg-4 col-xl-4 col-sm-12 col-xs-12 mt-2 ">
                <div class="card" style="height:100%;">
                    <img src="~/EwxWebsite/assests/imgs/dotnet.png" class="card-img-top" alt="...">
                    <div class="img-top1"></div>
                    <div class="card-body">
                        <a href="dotnet.html">C# & ASP .NET CORE/ASP .NET MVC <br> COURSE</a>
                        <a href="dotnet.html" style="color: black;">
                            <p>
                                This extensive project driven course covers n-tier web application development using Microsoft .NET
                                Framework / .NET Core, Visual Studio 2019 and SQL Server 2017. It includes object oriented programming
                            </p>
                        </a>
                    </div>
                    <div class="card-footer">
                        <a href="dotnet.html"> View More</a>
                    </div>

                </div>
            </div>
            <div class="col-md-4 col-lg-4 col-xl-4 col-sm-12 col-xs-12 mt-2 ">
                <div class="card" style="height:100%;">
                    <img src="~/EwxWebsite/assests/imgs/dotnet.png" class="card-img-top" alt="...">
                    <div class="img-top1"></div>
                    <div class="card-body">
                        <a href="dotnet.html">C# & ASP .NET CORE/ASP .NET MVC <br> COURSE</a>
                        <a href="dotnet.html" style="color: black;">
                            <p>
                                This extensive project driven course covers n-tier web application development using Microsoft .NET
                                Framework / .NET Core, Visual Studio 2019 and SQL Server 2017. It includes object oriented programming
                            </p>
                        </a>
                    </div>
                    <div class="card-footer">
                        <a href="dotnet.html"> View More</a>
                    </div>

                </div>
            </div>
       
</div>
</div>