<!-- Card craousel -->
<div id="carouselExampleInterval" class="carousel slide " data-bs-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active" data-bs-interval="1000">
            <div class="container">

                <div class="row">
                    <div class="col-md-12 col-xl-8 col-lg-10 col-sm-12 col-xs-12  mt-4" style="width: 100%;text-align: center;height: 100%;">
                        <div class="text-card-comments">
                            <p>
                                <i class="fa fa-quote-left" style="color: rgb(22, 103, 196);"></i> I am the student of Fullstack web
                                development at EWX learning.EWX Professional Training institute offers a supportive learning
                                environment. The instructors are patient and always willing to help. The resources provided are
                                valuable, and I appreciate the emphasis on practical skills."<br> highly recommended <i class="fa fa-quote-right" style="color: rgb(22, 103, 196); "></i>
                            </p>
                            <img src="~/EwxWebsite/assests/imgs/logo circul.png" alt="" width="50px" height="50px">
                            <br>
                            <b>Rawalpindi Islamabad</b>
                            <br>
                            <b>Uroosha Khan</b>
                            <br>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="carousel-item " data-bs-interval="3000">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 col-xl-8 col-lg-10 col-sm-12 col-xs-12  mt-4" style="width: 100%;text-align: center; height: 100%;">
                        <div class="text-card-comments">
                            <p>
                                <i class="fa fa-quote-left" style="color: rgb(22, 103, 196);"></i> I am the student of Dot Net web
                                development at EWX learning."The networking opportunities provided by this IT institute are
                                invaluable. I've made connections that have opened up doors I never thought possible." Best IT
                                Institute for IT learner. The instructors are patient and always <br> willing to help. <i class="fa fa-quote-right" style="color: rgb(22, 103, 196);"></i>
                            </p>
                            <img src="~/EwxWebsite/assests/imgs/logo circul.png" alt="" width="50px" height="50px">
                            <br>
                            <b>Rawalpindi Islamabad</b>
                            <br>
                            <b>Jawad Butt</b>
                            <br>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>

                        </div>
                    </div>

                </div>
            </div>
        </div>

        <div class="carousel-item " data-bs-interval="3000">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 col-xl-8 col-lg-10 col-sm-12 col-xs-12 text-center mt-4" style="width: 100%;height: 100%;">
                        <div class="text-card-comments">
                            <p>
                                <i class="fa fa-quote-left" style="color: rgb(22, 103, 196);"></i> I am the student of Android web
                                development at EWX learning."Kudos to the dedicated faculty who go above and beyond to ensure students
                                grasp complex IT concepts. Truly a nurturing learning environment." The instructors are patient and
                                always willing to help.. I'm excited to tackle <br> real-world challenges." <i class="fa fa-quote-right" style="color: rgb(22, 103, 196);"></i>
                            </p>
                            <img src="~/EwxWebsite/assests/imgs/logo circul.png" alt="" width="50px" height="50px">
                            <br>
                            <b>Rawalpindi Islamabad</b>
                            <br>
                            <b>Shaheen Aziz</b>
                            <br>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>

                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div class="carousel-item " data-bs-interval="3000">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 col-xl-8 col-lg-10 col-sm-12 col-xs-12 text-center mt-4" style="width: 100%;height: 100%;">
                        <div class="text-card-comments">
                            <p>
                                <i class="fa fa-quote-left" style="color: rgb(22, 103, 196);"></i> I am the student of Information
                                Technology at EWX learning.The project-based learning approach of this IT institute fosters creativity
                                and problem-solving skills. Choosing this institute for my IT studies was the right decision. The
                                supportive community and resources available have enhanced my <br> learning journey." <i class="fa fa-quote-right" style="color: rgb(22, 103, 196);"></i>
                            </p>
                            <img src="~/EwxWebsite/assests/imgs/logo circul.png" alt="" width="50px" height="50px">
                            <br>
                            <b>Rawalpindi Islamabad</b>
                            <br>
                            <b>Lubna Jawad</b>
                            <br>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>

                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div class="carousel-item " data-bs-interval="3000">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 col-xl-8 col-lg-10 col-sm-12 col-xs-12 text-center mt-4" style="width: 100%;height: 100%;">
                        <div class="text-card-comments">
                            <p>
                                <i class="fa fa-quote-left" style="color: rgb(22, 103, 196);"></i>
                                I am the student of PHP at EWX learning."Choosing this institute for my IT studies was the right
                                decision. The instructors are not only experts in their fields but also genuinely invested in
                                students' success.I owe my career breakthrough to this institute and would recommend it to anyone
                                looking to thrive in the <br>world of technology.""<i class="fa fa-quote-right"
                                                                                      style="color: rgb(22, 103, 196);"></i>
                            </p>
                            <img src="~/EwxWebsite/assests/imgs/logo circul.png" alt="" width="50px" height="50px">
                            <br>
                            <b>Rawalpindi Islamabad</b>
                            <br>
                            <b>Umer Farooq</b>
                            <br>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>

                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div class="carousel-item " data-bs-interval="3000">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 col-xl-8 col-lg-10 col-sm-12 col-xs-12 text-center mt-4" style="width: 100%;height: 100%;">
                        <div class="text-card-comments">
                            <p>
                                <i class="fa fa-quote-left" style="color: rgb(22, 103, 196);"></i> I am the student of Front-End web
                                development at EWX learning."Impressed by the comprehensive curriculum and hands-on learning at this
                                IT institute. highly recommended Definitely setting students up for success!" .EWX Professional
                                Training institute offers a supportive learning <br> environment. <i class="fa fa-quote-right"
                                                                                                     style="color: rgb(22, 103, 196);"></i>
                            </p>
                            <img src="~/EwxWebsite/assests/imgs/logo circul.png" alt="" width="50px" height="50px">
                            <br>
                            <b>Rawalpindi Islamabad</b>
                            <br>
                            <b>Iman Zaheen</b>
                            <br>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>


                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div class="carousel-item " data-bs-interval="3000">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 col-xl-8 col-lg-10 col-sm-12 col-xs-12 text-center mt-4" style="width: 100%;height: 100%;">
                        <div class="text-card-comments">
                            <p>
                                <i class="fa fa-quote-left" style="color: rgb(22, 103, 196);"></i> I am the student of Graphics at
                                EWX learning."Attending this IT institute was a game-changer for my career. The knowledgeable
                                instructors and practical approach made all the difference." EWX Professional Training institute
                                offers a supportive learning environment.I appreciate the emphasis on <br> practical skills." <i class="fa fa-quote-right" style="color: rgb(22, 103, 196);"></i>
                            </p>
                            <img src="~/EwxWebsite/assests/imgs/logo circul.png" alt="" width="50px" height="50px">
                            <br>
                            <b>Rawalpindi Islamabad</b>
                            <br>
                            <b>Qalb-e-Abbass</b>
                            <br>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>


                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div class="carousel-item " data-bs-interval="3000">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 col-xl-8 col-lg-10 col-sm-12 col-xs-12 text-center mt-4" style="width: 100%;height: 100%;">
                        <div class="text-card-comments">
                            <p>
                                <i class="fa fa-quote-left" style="color: rgb(22, 103, 196);"></i>
                                I am the student of Vedio Animation at EWX learning. "Top-notch facilities and up-to-date technology
                                at this institute. Proud to be a part of an institution that prioritizes modern IT education.". I
                                appreciate the emphasis on practical skills." Attending this IT institute was a game-changer <br> for
                                my career.<i class="fa fa-quote-right" style="color: rgb(22, 103, 196);"></i>
                            </p>
                            <img src="~/EwxWebsite/assests/imgs/logo circul.png" alt="" width="50px" height="50px">
                            <br>
                            <b>Rawalpindi Islamabad</b>
                            <br>
                            <b>Ayesha Khan</b>
                            <br>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>
